<div data-ng-controller="AccountsCtrl">
    <header>
        <h2 id="accounts-header">
            {{widget.title}}
            <small>{{widget.subtitle}}</small>
        </h2>

    </header>
    <div class="widget-tools">
        <h3>FILTRES</h3>
        <a class="btn btn-default" data-ng-click="resetFilters()">aucun</a>
        <label for="account-filter-transaction" class="sr-only">Transaction</label>
        <select name="account-filter-transaction" id="account-filter-transaction" ng-model="model.selectedTransaction" ng-options="transaction.name for transaction in model.transactions">
            <option value='' disabled selected>transaction</option>
        </select>
        <!-- <select name="account-filter-transaction" id="accout-filter-transaction">
            <option value="0" disabled selected>transaction</option>
            <option value="1">débit</option>
            <option value="2">crédit</option>
        </select> -->
        <label class="sr-only">Transaction</label>
        <!-- isteven-multi-select directive -->
        <div data-multi-select
             data-input-model="model.categories"
             data-button-label="name"
             data-item-label="name"
             data-tick-property="ticked">
        </div>
        <!--<select name="account-filter-category" id="accout-filter-category">
            <option value="0" disabled selected>catégorie</option>
            <option value="1">voyage</option>
            <option value="2">banque</option>
        </select>
        -->
        <div class="resize-btns">
            <a ng-click="widget.hide()" class="hide-widget-btn"></a>
            <a ng-click="widget.size.wide()" class="upsize-widget-btn hidden-xs" ng-show="options.size === 'normal'"></a>
            <a ng-click="widget.size.normal()" class="downsize-widget-btn hidden-xs" ng-show="options.size === 'wide'"></a>
        </div>
    </div>
    <div class="widget-content">
        <ul id="accounts-list">
            <div class="account-container" ng-repeat="account in model.filteredAccounts" style="
                width: 100%;
                position: relative;
                overflow: hidden;
            ">
                <table class="table" style="margin-bottom:0;" id="test">
                    <thead style=" background-color: #464340; color:white">
                        <tr>
                            <th colspan="2" style="border-bottom:0;">{{account.name}}</th>
                            <th style="text-align:right; border-bottom:0;">{{account.amount}}€</th>
                        </tr>
                    </thead>
                    <tbody style="
                        text-align: center;
                        background-color: #96ca12;
                        border: 0;
                        color: white;
                        font-weight: bold;
                        text-transform: uppercase;
                    ">
                    <td colspan="3" style="
                        padding: 2px;
                        padding-left: 3%">
                        TODO !
                    </td>
                    </tbody>
                </table>

                <li class="account-element" du-scroll-container style="
                    display: block;  max-height: 500px;  overflow-x: inherit;
                    overflow-y: scroll;
                    position: relative;
                    width: 104%;
                ">
                    <!--<table class="table">
                <thead>
                      <tr>
                          <th colspan="2">{{account.name}}</th>
                          <th>{{account.amount}}€</th>
                      </tr>
                  </thead>
                  <tbody>-->



                    <div class="month-container" ng-repeat="monthHistory in account.history">

                        <div id="history-{{ month }}"
                             data-ng-init="month = moment(monthHistory[0][0].date, 'DD/MM/YYYY').format('MMMM')"
                             class="account-month-separator" style="
                                        text-align: center;
                                        background-color: #96ca12;
                                        border: 0;
                                        color: white;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        width: 100%">

                            {{ month }}
                        </div>

                        <div class="container" style="display: table;">
                            <div ng-repeat="dayOfMonthHistory in monthHistory" class="row" style="display:table-row; height:100%">

                                <div class="col-xs-2 transaction-day-of-month" style="
                                        display: table-cell;
                                        float: none;
                                        width: 15%;
                                        text-align: center;
                                        vertical-align: middle;
                                        background-color: #464340;
                                        border-bottom: 2px solid white;
                                        font-weight: bold;
                                        font-size:2.2em;
                                        color: white">

                                    <small> {{ moment(dayOfMonthHistory[0].date, 'DD/MM/YYYY').format('D') }}</small>
                                </div>
                                <div class="col-xs-10" style="float: none; display: table-cell; width: 85%; padding-top:15px; ">

                                    <div ng-repeat="transaction in dayOfMonthHistory" class="row">
                                        <div class="col-md-10 transaction-label">
                                            {{ transaction.label | lineTrunc:2 }}
                                        </div>
                                        <div class="col-md-2 transaction-amount"
                                             ng-class="{'text-danger': transaction.type === -1, 'text-success' : transaction.type === 1}">
                                            {{transaction.amount}}€
                                        </div>
                                        <div ng-show="!$last" style="margin-top:45px;">
                                            <hr />
                                        </div>
                                    </div>

                                    <hr style="margin-bottom:0;" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--
                <div class="month-container" ng-repeat="(month, transactionsOfMonth) in account.history">

                    <div class="account-month-separator" style="
                                    text-align: center;
                                    background-color: #96ca12;
                                    border: 0;
                                    color: white;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    width: 100%">
                        {{ month }}
                    </div>

                    <div class="container" style="display: table;">
                        <div ng-repeat="(dayOfMonth, transactionOfDay) in transactionsOfMonth" class="row" style="display:table-row; height:100%">

                            <div class="col-xs-2 transaction-day-of-month" style="
                                    display: table-cell;
                                    float: none;
                                    width: 15%;
                                    text-align: center;
                                    vertical-align: middle;
                                    background-color: #464340;
                                    border-bottom: 2px solid white;
                                    font-weight: bold;
                                    font-size:2.2em;
                                    color: white">

                                <small> {{ dayOfMonth }}</small>
                            </div>
                            <div class="col-xs-10" style="float: none; display: table-cell; width: 85%; ">

                                <div ng-repeat="transaction in transactionOfDay" class="row">
                                    <div class="col-md-10 ransaction-label">
                                        {{ transaction.label }}
                                    </div>
                                    <div class="col-md-2 transaction-amount"
                                         ng-class="{'text-danger': entry.type === -1, 'text-success' : entry.type === 1}">
                                        {{transaction.amount}}€
                                    </div>
                                </div>

                                <hr />

                            </div>
                        </div>
                    </div>
                </div>
                -->
                    <!--<tr ng-repeat="entry in account.history">
                    <td>{{entry.label}}</td>
                    <td>{{entry.date}}</td>
                    <td ng-class="{'text-danger': entry.type === -1, 'text-success' : entry.type === 1}">{{entry.amount}}€</td>
                </tr>
                -->
                    </tbody>
                    </table>
                </li>
            </div>
        </ul>
    </div>
</div>