﻿<div ng-controller="TestController">
    <header >
        <h2>{{widget.title}}<small>{{widget.subtitle}}</small></h2>
        <button class="btn btn-default btn-xs pull-right" ng-click="widget.hide()">x</button>
        <button class="btn btn-default btn-xs pull-right" ng-click="widget.size.wide()">wide</button>
        <button class="btn btn-default btn-xs pull-right" ng-click="widget.size.normal()">small</button>
    </header>
    <table class="table">
        <tr ng-repeat="entry in account.history">
            <td>{{entry.label}}</td>
            <td>{{entry.date}}</td>
            <td ng-class="{'text-danger': entry.type === -1, 'text-success' : entry.type === 1}">{{entry.amount}}€</td>
        </tr>
    </table>
    
    <!--<div class="panel-footer">&emsp;<button class="btn btn-primary pull-right" ng-click="act()">Action</button></div>-->
</div>