﻿<div class="localize-widget" data-ng-controller="LocalizeCtrl">
    <header>
        <h2 id="locations-header">
            {{widget.title}}
            <small>{{widget.subtitle}}</small>
        </h2>
    </header>
    <div class="widget-tools">
        <h3>RECHERCHE</h3>
        <label for="localize-filter-category" class="sr-only">Lieux</label>
        <select ng-model="model.selectedResearch" ng-options="research.name for research in model.researchs"></select>
        <div class="resize-btns">
            <a ng-click="widget.hide()" class="hide-widget-btn"></a>
            <a ng-click="widget.size.wide()" class="upsize-widget-btn hidden-xs" ng-show="options.size === 'normal'"></a>
            <a ng-click="widget.size.normal()" class="downsize-widget-btn hidden-xs" ng-show="options.size === 'wide'"></a>
        </div>
    </div>

    <!--google map directive -->
    <div data-direction-panel="true"
         data-api="api"
         data-enabled-marker-clusterer="true"
         class="google-map-geo-localized">
    </div>
</div>