﻿.activities-widget .content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.activities-widget .content-wrapper .prossesing-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  /* -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background: linear-gradient(#fafafa, #cdcfca);
            height: 100%;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            */
}
.activities-widget .content-wrapper .prossesing-container .processing-caption {
  padding: 15px;
  font-weight: bold;
}
.activities-widget .content-wrapper .prossesing-container .pbutton {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100px;
  margin: 100px auto;
  background: #f6f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f7f7 0%, #a0a5ae 98%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f7), color-stop(98%, #a0a5ae));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f7f7 0%, #a0a5ae 98%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f7f7 0%, #a0a5ae 98%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f7f7 0%, #a0a5ae 98%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f7f7 0%, #a0a5ae 98%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f7', endColorstr='#a0a5ae', GradientType=0);
  /* IE6-9 */
  border-top: 2px solid #ffffff;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.2), 0 15px 25px 1px rgba(0, 0, 0, 0.1), 0 30px 16px 0 rgba(0, 0, 0, 0.15);
}
.activities-widget .content-wrapper .prossesing-container img:hover {
  -webkit-filter: brightness(1.1);
}
.activities-widget .content-wrapper .prossesing-container .pbutton:active {
  box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(3px);
}
.activities-widget .content-wrapper .prossesing-container img {
  position: absolute;
  width: 51px;
  height: 45px;
  left: -25.5px;
  margin-left: 50%;
  top: -22.5px;
  margin-top: 50%;
}
.activities-widget .content-wrapper .prossesing-container .pbutton:before {
  content: " ";
  position: absolute;
  width: 122px;
  height: 122px;
  border-radius: 61px;
  background: #d1d4d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d4d9 2%, #d1d4dc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #d1d4d9), color-stop(100%, #d1d4dc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d4d9 2%, #d1d4dc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d4d9 2%, #d1d4dc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d4d9 2%, #d1d4dc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d1d4d9 2%, #d1d4dc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d4d9', endColorstr='#d1d4dc', GradientType=0);
  /* IE6-9 */
  top: -61px;
  margin-top: 50%;
  left: -61px;
  margin-left: 50%;
  border-bottom: 2px solid #e5e7eb;
}
.activities-widget .content-wrapper .prossesing-container .pbutton:after {
  content: " ";
  width: 240px;
  height: 240px;
  border-radius: 120px;
  position: absolute;
  top: -120px;
  margin-top: 50%;
  left: -120px;
  margin-left: 50%;
  background: #d4dae5;
  z-index: -1;
  border-bottom: 2px solid #f6f7f7;
  box-shadow: inset 0 0 15px 1px #bcc1ca;
}
.activities-widget .content-wrapper .prossesing-container .pbutton.pinvisible {
  visibility: visible;
}
.activities-widget .content-wrapper .prossesing-container .pbutton.pinvisible:after {
  display: none;
}
.activities-widget .content-wrapper .prossesing-container .ppie-loader {
  position: absolute;
  z-index: -1;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  top: -120px;
  margin-top: 50%;
  left: -120px;
  margin-left: 50%;
  border: solid 1px transparent;
  overflow: hidden;
}
.activities-widget .content-wrapper .prossesing-container .pleft,
.activities-widget .content-wrapper .prossesing-container .pright {
  position: absolute;
  width: 250px;
  height: 250px;
}
.activities-widget .content-wrapper .prossesing-container .pleft {
  left: -50%;
  background-position: 120px 0%;
}
.activities-widget .content-wrapper .prossesing-container .pright {
  left: 50%;
  background-position: -120px 0%;
}
.activities-widget .content-wrapper .prossesing-container .pbutton:after {
  z-index: -2;
}
.activities-widget .content-wrapper .prossesing-container .pbutton.pdisabled {
  transform: none;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.2), 0 15px 25px 1px rgba(0, 0, 0, 0.1), 0 30px 16px 0 rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=activities.css.map */