﻿.activities-widget {
    .content-wrapper {
        position: relative;
        width:100%;
        height:100%;

        .prossesing-container {
            position: absolute;
            width:100%;
            height:100%;
            z-index: 999;
            background-color: white;

           /* -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background: linear-gradient(#fafafa, #cdcfca);
            height: 100%;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            */

            .pbutton {
                width: 200px;
                height: 200px;
                position: relative;
                border-radius: 100px;
                margin: 75px auto;
                background: rgb(246,247,247); /* Old browsers */
                background: -moz-linear-gradient(top, #ce1d1d 0%, #8b0000 98%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce1d1d), color-stop(98%,#8b0000)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #ce1d1d 0%,#8b0000 98%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #ce1d1d 0%,#8b0000 98%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #ce1d1d 0%,#8b0000 98%); /* IE10+ */
                background: linear-gradient(to bottom, #ce1d1d 0%,#8b0000 98%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1d1d', endColorstr='#8b0000',GradientType=0 ); /* IE6-9 */
                border-top: 2px solid #ff9595;
                box-shadow: 0 0 25px 1px rgba(0,0,0,0.2), 0 15px 25px 1px rgba(0,0,0,0.1), 0 30px 16px 0 rgba(0,0,0,0.15);
            }


            .pbutton:active {
                box-shadow: 0 15px 16px 0 rgba(0,0,0,0.15);
                transform: translateY(3px);
            }

            .pbutton:before {
                content: " ";
                position: absolute;
                width: 122px;
                height: 122px;
                border-radius: 61px;
                background: rgb(209,212,217); /* Old browsers */
                background: -moz-linear-gradient(top, #a31828 2%, #ce1d1d 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#a31828), color-stop(100%,#ce1d1d)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #a31828 2%,#ce1d1d 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #a31828 2%,#ce1d1d 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #a31828 2%,#ce1d1d 100%); /* IE10+ */
                background: linear-gradient(to bottom, #a31828 2%,#ce1d1d 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a31828', endColorstr='#ce1d1d',GradientType=0 ); /* IE6-9 */
                top: -61px;
                margin-top: 50%;
                left: -61px;
                margin-left: 50%;
                border-bottom: 2px solid #ff5b51;
            }

            .pbutton:after {
                content: " ";
                width: 240px;
                height: 240px;
                border-radius: 120px;
                position: absolute;
                top: -120px;
                margin-top: 50%;
                left: -120px;
                margin-left: 50%;
                background: #d4dae5;
                z-index: -1;
                border-bottom: 2px solid #f6f7f7;
                box-shadow: inset 0 0 15px 1px #bcc1ca;
            }

            .pbutton.pinvisible{
                visibility:visible;
            }

            .pbutton.pinvisible:after {
                display: none;
            }

            .ppie-loader {
                position: absolute;
                z-index: -1;
                width: 240px;
                height: 240px;
                border-radius: 120px;
                top: -120px;
                margin-top: 50%;
                left: -120px;
                margin-left: 50%;
                border: solid 1px transparent;
                overflow: hidden;
            }


            .pleft, .pright {
                position: absolute;
                width: 250px;
                height: 250px;
            }

            .pleft {
                left: -50%;
                background-position: 120px 0%;
            }

            .pright {
                left: 50%;
                background-position: -120px 0%;
            }

            .pbutton:after {
                z-index: -2;
            }

            .pbutton.pdisabled {
                transform: none;
                box-shadow: 0 0 25px 1px rgba(0,0,0,0.2), 0 15px 25px 1px rgba(0,0,0,0.1), 0 30px 16px 0 rgba(0,0,0,0.15);
            }
        }
    }
}
