﻿@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* ===== IMPORTS ===== */
/* ===== VARS =====*/
/* ===== RULES ===== */
html,
body {
  height: 100%;
  color: #464340;
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  color: #96ca12;
}
a:hover,
a:focus {
  color: inherit;
}
input,
select,
.btn {
  font-family: 'Open Sans', sans-serif;
}
select {
  border: none;
  outline: none;
  line-height: 20px;
  cursor: pointer;
}
.btn {
  padding: 3px 12px;
  background-image: none;
  border: none;
  border-radius: 0;
}
.btn.btn-primary {
  background-color: #ce1d61;
  color: #fff;
}
.btn.btn-default {
  background-color: #96ca12;
  color: #fff;
}
.navbar {
  background-color: #464340;
  border-radius: 0;
}
.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
}
.navbar-default .navbar-brand {
  color: #fff;
  float: none;
  font-size: 24px;
  padding: 0;
  line-height: 50px;
  font-weight: 700;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.global-loader {
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
  position: absolute;
  left: 10px;
  top: 15px;
}
.global-loader:before {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid rgba(0, 0, 0, 0);
  content: "";
  border-radius: 100%;
}
#logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(img/logout.svg) no-repeat center;
  background-size: 100%;
}
#wrapper {
  min-height: 100%;
  padding-top: 50px;
  margin-bottom: -90px;
  position: relative;
}
#wrap {
  padding-top: 20px;
}
.widget {
  background-color: #fff;
  padding: 0;
  border-bottom: 3px solid rgba(160, 160, 160, 0.5);
  margin-bottom: 20px;
}
.widget header {
  padding: 20px;
  background-color: #96ca12;
  color: #fff;
}
.widget header h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  border-left: 4px solid #fff;
  padding-left: 16px;
  padding-right: 50px;
}
.widget header h2 small {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}
.resize-btns {
  float: right;
}
.resize-btns > a {
  display: block;
  float: right;
  height: 25px;
  width: 25px;
  background: center no-repeat;
  background-size: auto;
  cursor: pointer;
}
.resize-btns > a.hide-widget-btn {
  background-image: url(img/close.svg);
}
.resize-btns > a.upsize-widget-btn {
  background-image: url(img/upsize.svg);
}
.resize-btns > a.downsize-widget-btn {
  background-image: url(img/downsize.svg);
}
#accounts-header {
  background: url(img/accounts-pic.svg) no-repeat right;
  background-size: 40px auto;
}
#stats-header {
  background: url(img/stats-pic.svg) no-repeat right;
  background-size: auto 40px;
}
#entertainments-header {
  background: url(img/entertainments-pic.svg) no-repeat right;
  background-size: auto 40px;
}
#locations-header {
  background: url(img/locations.svg) no-repeat right;
  background-size: auto 40px;
}
.widget-tools {
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
}
.widget-tools h3 {
  line-height: 25px;
  margin: 0 10px 0 0;
  display: inline;
  font-size: 12px;
  font-weight: 700;
}
.widget-tools select {
  margin-left: 10px;
  width: auto;
}
.checkBoxContainer label {
  font-weight: 400;
}
.checkboxLayer {
  z-index: 99999 !important;
}
.multiSelect .multiSelectButton {
  display: inline-block;
  border: none;
  background: none;
  box-shadow: none;
  min-height: inherit !important;
}
.multiSelect .multiSelectButton:hover,
.multiSelect .multiSelectButton:focus {
  background: none;
}
.multiSelect .multiSelectButton > div {
  padding: 0;
}
#accounts-list {
  margin-bottom: 0;
}
#accounts-list table {
  font-family: 'Open Sans', sans-serif;
}
.account-element thead {
  color: #fff;
  padding: 13px 10px 13px 20px;
  font-size: 20px;
  background-color: #464340;
  cursor: pointer;
  text-transform: uppercase;
}
.account-element thead.active {
  background: #464340 url(img/arrow-up.svg) no-repeat right;
  background-size: 10px;
}
.transactions-list {
  padding-left: 40px;
  font-family: 'Open Sans', sans-serif;
}
.transactions-list li {
  padding: 10px 20px 10px 0;
}
.transactions-list li + li {
  border-top: 1px solid #ccc;
}
#no-widget {
  text-align: center;
}
.clearfooter {
  height: 90px;
  clear: both;
}
#footer {
  color: #fff;
  height: 90px;
  position: relative;
  background-color: #464340;
  padding: 15px 0;
}
#footer-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
#footer-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#wrapper.auth-page {
  width: 100%;
  height: 100%;
  padding: 200px 0;
  background: url(img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}
#wrapper.auth-page h1 {
  font-size: 50px;
  margin: 0 0 40px;
  text-align: center;
  font-weight: 700;
}
#wrapper.auth-page h2 {
  text-align: center;
  text-transform: uppercase;
}
#footer.auth-page {
  background-color: transparent;
}
#footer.auth-page #footer-text {
  padding-top: 40px;
}
#auth-form {
  width: 250px;
  margin: auto;
}
#auth-form input {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px;
  border: 0;
  margin: 0 auto 20px;
  text-align: center;
  color: #464340;
}
#auth-form .btn {
  display: block;
  width: 100%;
  font-size: 18px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#auth-form {
  width: 100%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #auth-form {
    width: 250px;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=budget-now.css.map */