@import "budget-now_v";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#auth-form {
  width: 100%;
}

@media (max-width: (@screen-sm-min - 1)) {
  .activities-icon,
  .localize-icon,
  .accounts-icon {
    width: 40px;
    height: 40px;
    background: no-repeat center;
    background-size: 30px;
    display: inline-block !important;
    + .btn {
      margin-left: 20px;
    }
  }
  .activities-icon {
    background-image: url(img/entertainments-pic.svg);
  }
  .localize-icon {
    background-image: url(img/locations.svg);
  }
  .accounts-icon {
    background-image: url(img/accounts-pic.svg);
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #auth-form {
    width: 250px;
  }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}