/* ===== IMPORTS ===== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "budget-now_v";
@import "mixins";

/* ===== RULES ===== */

  // ========================== DEFAULT

html, body {
  height: 100%;
  color: @text-color;
  background-color: @light-grey;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  color: @light-green;
  &:hover, &:focus {
    color: inherit;
  }
}

input, select, .btn {
  font-family: 'Open Sans', sans-serif;
}

select {
  border: none;
  outline: none;
  line-height: 20px;
  cursor: pointer;
}

  // ========================== CUSTOM BOOTSTRAP

.btn {
  padding: 3px 12px;
  background-image: none;
  border: none;
  border-radius: 0;
  &.btn-primary {
    background-color: @nice-red;
    color: #fff;
  }
  &.btn-default {
    background-color: @light-green;
    color: #fff;
  }
}


  // ========================== HEADER

.navbar {
  background-color: @dark-grey;
  border-radius: 0;
}
.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
}
.navbar-default .navbar-brand {
  color: #fff;
  float: none;
  font-size: 24px;
  padding: 0;
  line-height: 50px;
  font-weight: 700;
  &:hover, &:focus {
    color: #fff;
  }
}

.global-loader {
    .loader();
    position: absolute;
    left: 10px;
    top: 15px;
}

#logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(img/logout.svg) no-repeat center;
  background-size: 100%;
}
  // ========================== CONTENT

#wrapper {
  min-height: 100%;
  padding-top: @header-height;
  margin-bottom: -@footer-height;
  position: relative;
}

#wrap {
  padding-top: 20px;
}
.widget-wrapper{
  transition: .3s ease all;

}
.widget {
  background-color: #fff;
  padding: 0;
  border-bottom: 3px solid rgba(160, 160, 160, .5);
  margin-bottom: 20px;
    header {
    padding: 20px;
    background-color: @light-green;
    color: #fff;
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      border-left: 4px solid #fff;
      padding-left: 16px;
      padding-right: 50px;
      small {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: rgba(255, 255, 255, .7);
      }
    }
  }
}

#widget-list {
  margin-bottom: 30px;
  > .btn.hidden-xs {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin-right: 20px;
  }
}

.resize-btns {
  float: right;
  > a {
    display: block;
    float: right;
    height: 25px;
    width: 25px;
    background: center no-repeat;
    background-size: auto;
    cursor: pointer;
    &.hide-widget-btn {
      background-image: url(img/close.svg);
    }
    &.upsize-widget-btn {
      background-image: url(img/upsize.svg);
    }
    &.downsize-widget-btn {
      background-image: url(img/downsize.svg);
    }
  }
}

#accounts-header {
  background: url(img/accounts-pic.svg) no-repeat right;
  background-size: 40px auto;
}
#stats-header {
  background: url(img/stats-pic.svg) no-repeat right;
  background-size: auto 40px;
}
#entertainments-header {
  background: url(img/entertainments-pic.svg) no-repeat right;
  background-size: auto 40px;
}
#locations-header {
  background: url(img/locations.svg) no-repeat right;
  background-size: auto 40px;
}

.widget-tools {
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  h3 {
    line-height: 25px;
    margin: 0 10px 0 0;
    display: inline;
    font-size: 12px;
    font-weight: 700;
  }
  select {
    margin-left: 10px;
    width: auto;
  }
}

.checkBoxContainer {
  label {
    font-weight: 400;
  }
}

.checkboxLayer  {
    z-index: 99999 !important;
}

.multiSelect .multiSelectButton {
  display: inline-block;
  border: none;
  background: none;
  box-shadow: none;
  min-height: inherit !important;
  &:hover, &:focus {
    background: none;
  }
  > div {
    padding: 0;
  }
}

#accounts-list {
  margin-bottom: 0;
  table {
    font-family: 'Open Sans', sans-serif;
  }
}

.account-element {
  thead {
    color: #fff;
    padding: 13px 10px 13px 20px;
    font-size: 20px;
    background-color: @dark-grey;
    cursor: pointer;
    text-transform: uppercase;
    &.active {
      background: @dark-grey url(img/arrow-up.svg) no-repeat right;
      background-size: 10px;
    }
  }
}

.transactions-list {
  padding-left: 40px;
  font-family: 'Open Sans', sans-serif;
  li {
    padding: 10px 20px 10px 0;
    + li {
      border-top: 1px solid #ccc;
    }
  }
}

#no-widget {
  text-align: center;
}

.processing-caption {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

  // ========================== FOOTER

.clearfooter {
  height: @footer-height;
  clear: both;
}

#footer {
  color: #fff;
  height: @footer-height;
  position: relative;
  background-color: @dark-grey;
  padding: 15px 0;
}
#footer-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
#footer-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

  // ========================== AUTHENTICATION

#wrapper.auth-page {
  width: 100%;
  height: 100%;
  padding: 200px 0;
  background: url(img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  h1 {
    font-size: 50px;
    margin: 0 0 40px;
    text-align: center;
    font-weight: 700;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
}

#footer.auth-page {
  background-color: transparent;
  #footer-text {
    padding-top: 40px;
  }
}

#auth-form {
  width: 250px;
  margin: auto;
  input {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px;
    border: 0;
    margin: 0 auto 20px;
    text-align: center;
    color: @dark-grey;
  }
  .btn {
    display: block;
    width: 100%;
    font-size: 18px;
  }
}

  // ========================== RESPONSIVE

@import "budget-now_r";
