/* ===== VARS =====*/

@light-grey: #eee;
@dark-grey: #464340;
@light-green: #96ca12;
@nice-red: #ce1d61;

@text-color: @dark-grey;

@header-height: 50px;
@footer-height: 90px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;