﻿.loader(@size:20px, @color:#fff)
{
    width: @size;
    height: @size;
    -webkit-animation: spin 1s ease infinite;
    animation: spin 1s ease infinite;

    &:before
    {
        display: block;
        width: @size - 2px;
        height: @size - 2px;
        border-top: 2px solid @color;
        border-right: 2px solid rgba(0, 0, 0, 0);
        content: "";
        border-radius: 100%;
    }
}