﻿<div id="wrapper">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BUDGET NOW!</a>
                    <span class="global-loader" data-ng-show="ajaxInProgress"></span>
                </div>
                <a id="logout-btn" href="#/logout"></a>
            </div>
        </nav>
    </header>

    <div id="wrap" ui-view class="container"></div>
    <div class="clearfooter"></div>
    <konami></konami>
</div>

<footer id="footer">
    <div id="footer-title">BUDGET NOW!</div>
    <div id="footer-text">
        <a href="//budgetnow.fr">N7 Team</a> <span class="hidden-xs">[Nementon, Shabs, Bobu] </span>&copy; Budy 2014 - Tous droits réservés
    </div>
</footer>