﻿/**
    google map goe-localized directive
*/
.google-map-geo-localized {
  height: 500px;
  width: 100%;
}
.google-map-geo-localized .map-canvas-container {
  width: 100%;
  height: 100%;
}
.google-map-geo-localized .map-canvas-geolocation-error {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 15;
  text-align: center;
  background: light-gray;
}
.google-map-geo-localized .direction-panel {
  float: right;
  width: 100%;
  overflow: auto;
}
.google-map-geo-localized .panel-toggle,
.google-map-geo-localized .follow-toggle {
  padding: 5px;
  margin: 5px;
}
.google-map-geo-localized .panel-toggle.active,
.google-map-geo-localized .follow-toggle.active {
  background-color: lightblue;
}
.google-map-geo-localized .you-are-here-button {
  font-size: 30px;
}
.google-map-geo-localized .show-direction-panel-button {
  font-size: 20px;
}
.google-map-geo-localized .warnbox-content {
  display: none;
}
/*# sourceMappingURL=google-api.css.map */