﻿
/**
    google map goe-localized directive
*/

.google-map-geo-localized {

    height: 500px;
    width: 100%;


    .map-canvas-container {
        width: 100%;
        height: 100%;
    }

    .map-canvas-geolocation-error {
        position: absolute; 
        left: 0px; 
        top: 0px; 
        overflow: hidden;
        width: 100%;
        height: 100%; 
        z-index: 15;
        text-align: center;
        background: light-gray;
    }

    .direction-panel {
        float: right;
        width: 100%;
        overflow: auto;
    }

    .panel-toggle, .follow-toggle {
        padding: 5px;
        margin: 5px;

        &.active {
            background-color: lightblue;
        }
    }

    .you-are-here-button {
        font-size: 30px;
    }

    .show-direction-panel-button {
        font-size: 20px;
    }

    .warnbox-content {
        display: none;
    }
}


