﻿<div id="widget-list" role="group">
    <a class="btn hidden-xs" ng-class="(widget.idx !== -1) ? 'btn-primary':'btn-default'" ng-repeat="widget in registered()"
       ng-click="toggleWidget(widget)">{{widget.title}}</a>
    <a class="btn {{widget.icon}} visible-xs" ng-class="(widget.idx !== -1) ? 'btn-primary':'btn-default'" ng-repeat="widget in registered()"
       ng-click="toggleWidget(widget)"></a>
</div>
<div class="row">
    <div class="widget-wrapper"  ng-class="{ 'col-md-6' : widget.size === 'normal', 'col-md-12': widget.size === 'wide' }"
         ng-repeat="widget in widgets()">
        <widget options="widget">
        </widget>
    </div>

    <div class="col-md-12" id="no-widget" ng-show="widgets().length === 0">
        Aucun widget n'est affiché, veuillez en sélectionner un dans la liste
    </div>
</div>

<!--<div class="col-md-12 col-lg-6 widget">-->
    <!--<header>-->
        <!--<h2 id="stats-header">-->
            <!--Statistiques-->
            <!--<small>Gérez vos finances</small>-->
        <!--</h2>-->
    <!--</header>-->
<!--</div>-->
