﻿<div class="col-sm-6 col-sm-offset-3">
    <h2>Connexion</h2>
    <form name="auth" id="auth-form">
        <input type="text" placeholder="Login" ng-model="username" required>
        <input type="password" ng-model="password" placeholder="Mot de passe" required>
        <button class="btn btn-default text-center" ng-click="signIn()">Connexion</button>
    </form>
</div>
