﻿<div id="wrapper" class="auth-page">
    <div class="container">
        <h1>BUDGET NOW!</h1>
        <div ui-view></div>
    </div>
    <div class="clearfooter"></div>
</div>
<footer id="footer" class="auth-page">
    <div id="footer-text">
        <a href="//budgetnow.fr">N7 Team</a> <span class="hidden-xs">[Nementon, Shabs, Bobu] </span>&copy; Budy 2014 - Tous droits réservés
    </div>
</footer>