﻿<div class="activities-widget" data-ng-controller="ActivitiesCtrl">
    <header>
        <h2 id="entertainments-header">
            {{widget.title}}
            <small>{{widget.subtitle}}</small>
        </h2>
    </header>
    <div class="widget-tools">
        <h3>ACTIVITÉ</h3>
        <label class="sr-only">Activités</label>

        <!-- isteven-multi-select directive -->
        <div data-multi-select
             data-input-model="model.researchs"
             data-button-label="name"
             data-item-label="name"
             data-tick-property="ticked">
        </div>

        <div class="resize-btns">
            <a ng-click="widget.hide()" class="hide-widget-btn"></a>
            <a ng-click="widget.size.wide()" class="upsize-widget-btn hidden-xs" ng-show="options.size === 'normal'"></a>
            <a ng-click="widget.size.normal()" class="downsize-widget-btn hidden-xs" ng-show="options.size === 'wide'"></a>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="prossesing-container" data-ng-if="model.processing.processedResult === undefined">

            <processing-button data-processing="model.processing">
            </processing-button>

            <div class="processing-caption" style="text-align:center;">
                Découvrez où vos finances vous permettent de sortir ! ;)
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="success-container" style="width:100%; height:100%">
            <!--google map directive -->
            <div data-api="api"
                 data-direction-panel="true"
                 data-enabled-marker-clusterer="true"
                 class="google-map-geo-localized">
            </div>
        </div>
        <div class="failed-container" data-ng-if="model.processing.processedResult === false">
            Sorry no money bro.
        </div>
    </div>
</div>